RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

#altera a URL para a rota /api que é o equivalente a  index.php
RewriteRule ^api\/?$ index.php

#altera a URL para a rota api/login/1 que é o equivalente à  webservice.php?service=login&id=1
RewriteRule ^api/([a-z,0-9,A-Z,_-]+)\/([a-z,0-9,A-Z,_-]+)\/?$ webservice.php?service=$1&id=$2

#altera a URL para a rota api/login/ que é o equivalente à webservice.php?service=login
RewriteRule ^api/([a-z,0-9,A-Z,_-]+)\/?$ webservice.php?service=$1
